<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://kit.fontawesome.com/6284346f42.js" crossorigin="anonymous"></script>
    <title>mercadolibre</title>
</head>
<body>
    <header>
    <div class="contenedor1">
            <a href="https://www.instagram.com/">
                <section><img src="static/images/logo-mercado-liebre.svg" alt="logo" class="logo" width="100%"></a>
                    <input type="search" name="busqueda" placeholder="Buscar productos, marcas...">
                        <input type="submit" value="Buscar"></section>
            <p><i class="fa-solid fa-hand-holding-dollar"></i> compra en coutas y sin tarjetas de credito</p>
     </div> 
             <nav class="novisible">
                    <ul>
                         <li><a href="">ofertas</a></li>
                            <li><a href="">tiendas oficiales</a></li>
                                <li><a href="">vender</a></li>
                                   <li><a href="">ayuda</a></li> <br/>
                                <li><a href="">crear tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
                            <li><a href="">ingresar</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                        <li><a href="">mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>                                   
                    </ul>
            </nav>
       
            <div class="burger-menu">
            <div class="fondoBurger">
                <i class="fas fa-bars"></i></div>
             </div> 
    </header>
    <section class="img-banner">
        <img src="static/images/img-home-banner.jpg" alt=""width="360"class="img-banner" ></section>
    <main class="main">
     <h3>Basado en la ultima busquedad</h3><br>
       <div class="articulo">
        <img src="static/images/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
        <div class="caja"> 
            <div class="envio"><i class="fa-solid fa-truck-fast"></i></div>
                <p class="precio">$6.770</p>        
                <p class="descuento">40% off</p>
                    <h5>Cafetera Moulinex</h5></div></div>

        <div class="articulo">
        <img src="static/images/img-macbook-pro-2019.jpg" alt="MacBook" width="100%">
        <div class="caja"> 
            <div class="envio"><i class="fa-solid fa-truck-fast"></i></div>        
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                     <h5>MacBook Pro 2019</h5></div></div>

        <div class="articulo">
        <img src="static/images/img-samsung-galaxy-s10.jpg" alt="Samsung" width="100%"> 
        <div class="caja"> 
            <div class="envio"><i class="fa-solid fa-truck-fast"></i></div>    
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                    <h5>Samsung Galaxy S10</h5></div></div>

        <div class="articulo">
        <img src="static/images/img-tv-samsung-smart.jpg" alt="TV" width="100%"> 
        <div class="caja"> 
            <div class="envio"><i class="fa-solid fa-truck-fast"></i> </div>      
                 <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                 <h5>SmarTv Samsung 43" </h5></div></div><br>
        
        <h3>Seccion de Oferta</h3>

        <div class="articulo">
        <img src="static/images/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
        <div class="caja"> 
            <div class="envio"><i class="fa-solid fa-truck-fast"></i></div>
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                 <h5>Cafetera Moulinex</h5></div></div>

        <div class="articulo">
        <img src="static/images/img-macbook-pro-2019.jpg" alt="MacBook" width="100%"> 
        <div class="caja"> 
            <div class="envio"><i class="fa-solid fa-truck-fast"></i></div>       
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                    <h5>MacBook Pro 2019</h5></div></div>

        <div class="articulo">
        <img src="static/images/img-samsung-galaxy-s10.jpg" alt="Samsung" width="100%"> 
        <div class="caja"> 
            <div class="envio"><i class="fa-solid fa-truck-fast"></i></div>       
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                     <h5>Samsung Galaxy S10</h5></div></div>

        <div class="articulo">
        <img src="static/images/img-tv-samsung-smart.jpg" alt="TV" width="100%"> 
        <div class="caja"> 
            <div class="envio"><i class="fa-solid fa-truck-fast"></i></div>/div>       
                 <p class="precio">$23.200</p>
                 <p class="descuento">5% off</p>
                    <h5>SmarTv Samsung 43" </h5></div></div>

    </main>
    <footer>
        <div class="pie">
           <div class="iconos"> <i class="fa-solid fa-credit-card"></i> </div>
        <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

          <div class="iconos"> <i class="fa-solid fa-gift"></i> </div>
        <h3>Envio gratis desde $ 2.500 </h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <div class="iconos"> <i class="fa-solid fa-user-shield"></i> </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

         <P>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
        </div>
    </footer>
</body>
</html>



