<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Playground</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;1,200;1,300;1,400&family=Roboto:wght@100;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="header">
      <div class="top-header">
        <img
          src="/images/logo-mercado-liebre.svg"
          alt="logo mercado liebre"
          class="logo"
        />
        <div class="search-bar">
          <input type="search" />
          <button type="button" class="btn-buscar">buscar</button>
        </div>
        <div class="subtitulo-header">
          <p>
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y
            sin tarjeta de crédito
          </p>
        </div>
      </div>
      <nav class="navbar">
        <ul class="navbar-menu">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="navbar-login">
          <li>
            <a href="/register"
              >Creá tu cuenta<i class="fa-solid fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="/"
              >Mis compras <i class="fa-solid fa-cart-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>

      <div class="burger-container">
        <div class="burger-menu">
          <i class="fas fa-bars burger"></i>
        </div>
      </div>
    </header>
    <section class="img-banner">
      <img
        src="/images/img-home-banner.jpg"
        alt=""
        width="360"
        class="img-banner"
      />
    </section>
    <main>
      <section class="section1">
        <h2 class="titulo">Basado en tu última visita</h2>
        <div class="section-article">
          <article class="cafetera">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="cafetera moulinex"
              class="product_img"
            />
            <div class="abajo-main">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$6.770</p>
              <p class="descuento">40% OFF</p>
              <h3 class="descripcion">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="macbook">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              alt="MacBook Pro 2019"
              class="product_img"
            />
            <div class="abajo-main">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$230.000</p>
              <p class="descuento">20% OFF</p>
              <h3 class="descripcion">MacBook Pro 2019</h3>
            </div>
          </article>
          <article class="samsung">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
              class="product_img"
            />
            <div class="abajo-main">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$70.500</p>
              <p class="descuento">10% OFF</p>
              <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
          </article>
          <article class="SmartTv">
            <img
              src="/images/img-tv-samsung-smart.jpg"
              alt="SamarTv Samsung 43"
              class="product_img"
            />
            <div class="abajo-main">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$23.200</p>
              <p class="descuento">5% OFF</p>
              <h3 class="descripcion">SamartTv Samsung 43"</h3>
            </div>
          </article>
        </div>
      </section>
      <section class="section2">
        <h2 class="titulo">Ofertas</h2>
        <div class="section-article">
          <article class="cafetera-oferta">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              alt="cafetera moulinex"
              class="product_img"
            />
            <div class="abajo-main">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$6.770</p>
              <p class="descuento">40% OFF</p>
              <h3 class="descripcion">Cafetera Moulinex</h3>
            </div>
          </article>
          <article class="macbook-oferta">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              alt="MacBook Pro 2019"
              class="product_img"
            />
            <div class="abajo-main">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$230.000</p>
              <p class="descuento">20% OFF</p>
              <h3 class="descripcion">MacBook Pro 2019</h3>
            </div>
          </article>
          <article class="samsung-oferta">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
              class="product_img"/>

            <div class="abajo-main">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$70.500</p>
              <p class="descuento">10% OFF</p>
              <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
          </article>
          <article class="SmartTv-oferta">
            <img
              src="/images/img-tv-samsung-smart.jpg"
              alt="SamarTv Samsung 43"
              class="product_img"
            />
            <div class="abajo-main">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$23.200</p>
              <p class="descuento">5% OFF</p>
              <h3 class="descripcion">SamartTv Samsung 43"</h3>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div class="container-footer">
        <div>
          <div class="container-img-footer">
            <i class="fa-solid fa-credit-card img-footer"></i>
          </div>
          <h4 class="titulo-h4">Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div>
          <div class="container-img-footer">
            <i class="fa-solid fa-gift img-footer"></i>
          </div>
          <h4 class="titulo-h4">Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div>
          <div class="container-img-footer">
            <i class="fa-solid fa-user-shield img-footer"></i>
          </div>

          <h4 class="titulo-h4">Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </div>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
